@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/**
.cont{
  margin-bottom: 20px;
};
**/

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: white;
  font-family: "Arial, sans-serif";
  
}
 /* {<div className="ui placeholder segment">
          <div className="ui two column stackable center aligned grid">
            <div className="ui vertical divider">AND</div>
            <div className="middle aligned row">
              <div className="column lp">
                <img className="ui fluid image" src={image} alt={title} />
              </div>
              <div className="column rp">
                <h1>{title}</h1>
                <h2>
                  <p className="ui teal tag label ">${price}</p>
                </h2>
                <h3 className=" ui brown block header">{category}</h3>
                <h1>{description}</h1>
                <div className="ui vertical animated button" tabIndex="0">
                  <div className="hidden content">
                    <i className=" shop icon"></i>
                  </div>
                  <div className="visible content">Add To Cart</div>
                </div>
              </div>
            </div>
          </div>
      </div> */